<div class="container">
  <div class="t">
    <h2>Discover</h2>
  </div>
  <div class="top-posts">
    <div class="p1" [style]="stylePone">
      <div class="titulo">
        Informatica y mas
        |<a [routerLink]="['/category', list[1].categoria, list[1].tituloUrl]"> aa</a>
      </div>
      <div class="autor"></div>
      <div class="fecha"></div>
    </div>
    <div class="p2" [style]="stylePoneT">
      b
    </div>
    <div class="p3" [style]="stylePoneTh">
      c
    </div>
  </div>
  <div class="yy">
    Mas vistos
  </div>
  <div class="secundarios">
    <div class="s"></div>
    <div class="s"></div>
    <div class="s"></div>
    <div class="s"></div>
  </div>
  <div class="yy">
    Mas vistos
  </div>
  <div class="secundarios">

  </div>


</div>
